* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1495757450029-09dbedacbc36?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.container {
    background: black;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 450px;
}

.city-name {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: white;
    width: calc(100% - 60px);
}

.search {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;
}

.img-search {
    width: 20px;
}

.weather-info {
    margin-top: 30px;
}

.city {
    color: white;
    font-size: 28px;
    font-weight: 300;
}

.temperature {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.weather-icon {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.climate {
    color: white;
    margin-left: 20px;
}

.humidity {
    color: white;
    margin-top: 20px;
}
